
<div class="container clearfix">
  <div class="col_half">
    <h2>Learn new exciting Technologies!</h2>
    <p>It's time to face it. Containers are here to stay, and we need to adapt to the new way of development workflow! Below is a series of trainings that we prepared so that you're not alone on the journey of technology tranformation.</p>
  </div>
  <div class="col_half nobottommargin col_last">
    <h2>Level Up yourself</h2>
    <p>Either you're Developer, Operator or claim the DevOps title, these trainings will help you expand your knowledge on both sides and understand better real-life problems and solutions that come together with a distributed, microservice-oriented infrastructure.</p>
  </div>
</div>
<div class="container clearfix">
    <div id="faqs-list" class="fancy-title title-bottom-border">
        <h1>Available Trainings</h1>
    </div>

    <div class="feature-box fbox-plain fbox-small fbox-dark">
      <a href="#">
        <div class="fbox-icon"><i class="icon-line-layers"></i></div>
        <h3>2-Day Training Mastering Docker</h3>
      </a>
      <p>...</p>
    </div>
    <a href="#" style="margin-left: 0px" class="button button-3d button-mini button-rounded button-reveal button-blue tright"><i class="icon-angle-right"></i><span>Details</span></a>

    <div class="feature-box fbox-plain fbox-small fbox-dark">
      <a href="#">
        <div class="fbox-icon"><i class="icon-line-layers"></i></div>
        <h3>2-Day Training Mastering Kubernetes</h3>
      </a>
      <p>...</p>
    </div>
    <a href="#" style="margin-left: 0px" class="button button-3d button-mini button-rounded button-reveal button-blue tright"><i class="icon-angle-right"></i><span>Details</span></a>  

</div>