<section style="background: #0095ff" id="page-title">
    <div class="container clearfix">
      <h1 style="color: white" >2-Day Training Mastering Kubernetes</h1>
    </div>
  </section>

  <section id="content">
    <div class="content-wrap">
      <div class="container clearfix">
  
        <!-- Description -->
        <div class="col_full">
          <div class="feature-box  fbox-dark">
              <div class="fbox-icon"><i class="icon-line-layers"></i></div>
              <h3>Description</h2>
            <p>Learn the basics of Kubernetes, how to deploy a cluster for development, on-premise, or on-cloud. Understand the architecture of Kubernetes itself, and the important concepts sucha s Pod, Deployment or Horizontal Autoscaling. Harness the power of Kubernetes to design a trully powerful distributed and self-healing microservice-oriented infrastructure.</p>
          </div>
        </div>
  
        <!-- Why -->
        <div class="col_full col_last">
          <h2>Why should you attend this training?</h2>

          <p>Containers were already a thing in Google's infrastructure a decade ago. Using their experience they open-sourced Kubernetes, which is now used by big and small companies that want to the efficiency and velocity Google has.</p>

          <p>Now that Docker containers are becoming mainstream as a deployment unit, Kubernetes is becoming the defacto solution for orchestrating those containers.
            Monolithic solutions are now migrating to microservice-oriented architecture, this means greater number of components and multiple instances per component to manage. Kubernetes helps create, schedule, and manage your containers on a cluster of servers.
            Kubernetes can run on-premise or in the cloud, on a single machine or a farm of thousands of machines.</p>

          <p>During this training you'll learn what are the benefits of Kubernetes, the underlying architecture, and how to design and operate your solution in a cluster of servers managed by Kubernetes.</p>
        </div>
  
        <!-- Outline -->
        <div class="col_full col_last">
          <h2>Outline</h2>
          
          <ul class="iconlist iconlist-color nobottommargin">
          <li><i class="icon-ok"></i>Introduction.</li>
          <li><i class="icon-ok"></i>Section 1.1: Environment Preparation.</li>
          <li><i class="icon-ok"></i>Section 1.2: Kubernetes Architecture.</li>
          <li><i class="icon-ok"></i>Section 1.3: Running Kubernetes.</li>
          <li><i class="icon-ok"></i>Section 1.4: Running Containers.</li>
          <li><i class="icon-ok"></i>Laboratory 1: Run 10 Redis instances.</li>
  
          <li><i class="icon-ok"></i>Section 2.1: Deployment Process.</li>
          <li><i class="icon-ok"></i>Section 2.2: Pulling Images.</li>
          <li><i class="icon-ok"></i>Section 2.3: Networking Basics.</li>
          <li><i class="icon-ok"></i>Section 2.4: Configuration Management.</li>
          <li><i class="icon-ok"></i>Laboratory 2: Run Guestbook.</li>
  
          <li><i class="icon-ok"></i>Section 3.1: Persistent Volumes.</li>
          <li><i class="icon-ok"></i>Section 3.2: Memory and CPU Quotas.</li>
          <li><i class="icon-ok"></i>Section 3.3: Health Checks.</li>
          <li><i class="icon-ok"></i>Section 3.4: Kubernetes Addons.</li>
  
          <li><i class="icon-ok"></i>Section 4.1: Autoscaling.</li>
          <li><i class="icon-ok"></i>Section 4.2: Operating Kubernetes with Kops.</li>
          <li><i class="icon-ok"></i>Section 4.3: Package Management with Helm.</li>
        </ul>
        
        </div>
   
        <!-- Outline -->
        <div class="col_full col_last">
            <h2>Prerequisites &amp; requirements</h2>
            <p>Basic Linux and <code>shell</code> knowledge is necessary in order to understand the commands executed inside containers. No specific language knowlege is necessary, we'll interact with various languages (<code>Go</code>, <code>Java</code>) but the examples are self-descriptive and there is no need for any preparation.
              During the training, the attendees will perform various exercises (laboratories), they will need to have their laptop during the course.
              WiFi Internet connection is necessary during the training.
            </p>
        </div>
  
        <!-- Outline -->
        <div class="col_full col_last">
            <h2>Fees</h2>
            <p>420€ per attendant (IVA included). The number of attendees per class may range between 6 to 16 but if your team is smaller just contact us and we'll see if we can collaborate. The duration of the training is two days, split in sessions of eight hours. Alternatively, traininng can be split to four sessions of four hours.</p>
        </div>
      </div>
    </div>
  </section>