<div class="container clearfix">

  <!-- Postcontent
  ============================================= -->
  <div class="postcontent nobottommargin">

    <h3>Send us an Email</h3>

    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    <script>
      hbspt.forms.create({
        portalId: "5061743",
        formId: "ec0574b5-3264-4198-9fea-3d6af6a5d8d9"
      });
    </script>
  </div>

  <div class="col_last nobottommargin">
    <address>
      <strong>Harbur Cloud Solutions S.L.U.</strong><br>
      Calle Escorial 12, 4 1 <br>
      08024 Barcelona, Catalonia <br>
      Spain <br>
    </address>
    <abbr title="Phone Number"><strong>Phone:</strong></abbr> +34 931 806 539<br>
    <abbr title="Email Address"><strong>Email:</strong></abbr> contact@harbur.io

    <div class="widget noborder notoppadding">
      <a href="https://www.facebook.com/harbur" class="social-icon si-small si-dark si-facebook">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
      </a>

      <a href="https://twitter.com/harburio" class="social-icon si-small si-dark si-twitter">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
      </a>

      <a href="https://github.com/harbur" class="social-icon si-small si-dark si-github">
        <i class="icon-github-circled"></i>
        <i class="icon-github-circled"></i>
      </a>
    </div>

  </div>

</div>