<div class="section">

  <div id="news" class="container clearfix">

    <div class="heading-block center">
      <h2>News</h2>
      <span>Recent posts of our blog</span>
    </div>

  </div>

</div>

<template id="newstemplate">
  <div class="col_one_third nobottommargin">
    <div class="ipost clearfix">
      <div class="entry-image">
        <a href="#">
          <img class="image_fade" src="" alt="Image">
        </a>
      </div>
      <div class="entry-title">
        <h3>
          <a class="entry-title-link" href=""></a>
        </h3>
      </div>
      <ul class="entry-meta clearfix">
        <li>
          <i class="icon-calendar3"></i>
        </li>
      </ul>
      <div class="entry-content">
      </div>

      <hr>
      <a class="read-more" href="" title="Read more">Read more →</a>
    </div>
  </div>

</template>