<div id="news" class="container clearfix">

    <div class="heading-block center">
        <h2>News</h2>
        <span>Recent posts of our blog</span>
    </div>

</div>

<template id="newstemplate">
    <div class="col_one_third nobottommargin">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h3><a class="entry-title-link" href=""></a></h3>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i></li>
            </ul>
            <div class="entry-content">
            </div>

            <hr>
            <a class="read-more" href="" title="Read more">Read more →</a>
        </div>
    </div>

</template>

<script type="text/javascript">
    function createNew(el, index) {
        var template = document.querySelector('#newstemplate');
        var title = el.find("title").text();
        var imageUrl = el.find('media\\:content, content').attr('url');
        var pubDate = el.find("pubDate").text();
        var link = el.find("link").text();
        var description = el.find("description").text();

        template.content.querySelector('img').src = imageUrl;
        template.content.querySelector('.entry-title-link').href = link;
        template.content.querySelector('.entry-image a').href = link;
        template.content.querySelector('.read-more').href = link;
        template.content.querySelector('.entry-title-link').textContent = title;
        template.content.querySelector('.entry-meta li').textContent = pubDate;
        template.content.querySelector('.entry-content').innerHTML = description;

        if (index % 3 == 2) {
            template.content.querySelector('.col_one_third').classList.add('col_last');
        }

        var clone = document.importNode(template.content, true);
        document.querySelector("#news").appendChild(clone);
    };

    document.addEventListener("DOMContentLoaded", function() {
        $.ajax("https://blog.harbur.io/rss/", {
            accepts:{
                xml:"application/rss+xml"
            },
            dataType:"xml",
            success:function(data) {
                $(data).find("item").each(function (index) {
                    createNew($(this), index);
                });
            }
        });
    });
</script>