<div id="clients" class="section">

    <div class="container clearfix">

        <div class="heading-block center">
            <h2>Case Studies</h2>
            <span>We helped companies across the globe migrate to container solutions.</span>
        </div>

        <div class="col_two_fifth topmargin nobottommargin">
            <img width="430" height="300" src="/images/clients/onebox/onebox.jpg">
        </div>

        <div class="col_three_fifth nobottommargin col_last">
            <div class="heading-block">
                <h3>Onebox</h3>
                <span>We help <a href="http://www.oneboxtm.com" ref="nofollow">Onebox</a> to migrate from a monolith application to a micro-service architecture decreasing the server costs 30%.</span>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

            <a class="button button-rounded" href="/work/onebox/" title="Read Harbur's Case Study about Onebox">Read more &rarr;</a>
        </div>

    </div>

</div>
