<div id="community" class="container clearfix">

    <div class="heading-block center">
        <h2>Community</h2>
        <span>We love to give back to the community!</span>
    </div>

    <div class="col_one_third">
        <div class="feature-box fbox-border fbox-light fbox-effect">
            <div class="fbox-icon">
                <a href="https://github.com/harbur/captain"><i class="icon-github-circled i-alt"></i></a>
            </div>
            <h3>Captain for Docker</h3>
            <span>Convert your Git workflow to Docker containers ready for Continuous Delivery.</span>
            <span>
                <a href="https://github.com/harbur/captain" title="View Harbur's repositories on Github">View on Github &rarr;</a>
            </span>
        </div>
    </div>

    <div class="col_one_third">
        <div class="feature-box fbox-border fbox-light fbox-effect">
            <div class="fbox-icon">
                <a href="https://github.com/harbur/tide"><i class="icon-github-circled i-alt"></i></a>
            </div>
            <h3>Tide for Kubernetes</h3>
            <span>Tide is an easy package manager for Kubernetes.</span>
            <span>
                <a href="https://github.com/harbur/tide" title="View Harbur's repositories on Github">View on Github &rarr;</a>
            </span>
        </div>
    </div>

    <div class="col_one_third col_last">
        <div class="feature-box fbox-border fbox-light fbox-effect">
            <div class="fbox-icon">
                <a href="https://github.com/harbur/kubebot"><i class="icon-github-circled"></i></a>
            </div>
            <h3>Kubebot: Kubernetes + Slack</h3>
            <span>Kubebot is a Kubernetes chatbot for Slack.</span>
            <span>
                <a href="https://github.com/harbur/kubebot" title="View Harbur's repositories on Github">View on Github &rarr;</a>
            </span>
        </div>
    </div>

    <div class="clear"></div>

    <div class="col_one_third">
        <div class="feature-box fbox-border fbox-light fbox-effect">
            <div class="fbox-icon">
                <a href="https://github.com/harbur"><i class="icon-github-circled i-alt"></i></a>
            </div>
            <h3>Open Source Software</h3>
            <span>We are true believers of Open Source Software and we use it in all our projects. </span>
            <span>We have 30+ projects released under Open Source's licenses.</span>
            <span>
                <a href="https://github.com/harbur" title="View Harbur's repositories on Github">View on Github &rarr;</a>
            </span>
        </div>
    </div>

    <div class="col_one_third">
        <div class="feature-box fbox-border fbox-light fbox-effect">
            <div class="fbox-icon">
                <a href="http://www.meetup.com/docker-barcelona-spain/"><i class="icon-meetup i-alt"></i></a>
            </div>
            <h3>Docker Barcelona Meetup</h3>
            <span>Harbur is the organizer of the official Docker Meetup in Barcelona, Spain.</span>
            <span>We help with the organization and give back with our presentations and talks.</span>
            <span>
                <a href="http://www.meetup.com/docker-barcelona-spain/" title="View Docker Barcelona Meetup">Docker Barcelona Meetup &rarr;</a>
            </span>
        </div>
    </div>
</div>



