    <div id="community" class="container clearfix">

        <div class="heading-block center">
            <h2>Community</h2>
            <span>We love to give back to the community!</span>
        </div>

        <div class="col-md-6">
            <div class="heading-block">
                <h3>Docker Barcelona Meetup</h3>
                <span>Harbur is the organizer of the official Docker Meetup in Barcelona, Spain.</span>
            </div>

            <p>We help with the organization and give back with our presentations and talks.</p>

            <a class="button button-rounded" href="http://www.meetup.com/docker-barcelona-spain/" title="View Docker Barcelona Meetup">Docker Barcelona Meetup &rarr;</a>

        </div>

        <div class="col-md-6">
            <div class="heading-block">
                <h3>Open Source Software</h3>
                <span>We are true believers of Open Source Software and we use it in all our projects. </span>
            </div>

            <p>We have several projects released under Open Source's licenses.</p>

            <a class="button button-rounded" href="https://github.com/harbur" title="View Harbur's repositories on Github">View on Github &rarr;</a>
        </div>

    </div>