<!-- Footer
============================================= -->
<footer id="footer" class="dark">

  <div class="container">

    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap clearfix">

      <div class="col_two_third">

        <div class="col_one_third">

          <div class="widget clearfix">

            <img src="/images/footer-widget-logo.png" alt="" class="footer-logo">

            <p>We believe in <strong>Quality first</strong>, <strong>Simplicity</strong>, <strong>Transparency</strong> &amp; <strong>Innovation</strong>.</p>

            <div style="background: url('/images/world-map.png') no-repeat center center; background-size: 100%;">
              <address>
                <strong>Headquarters:</strong><br>
                Travessera de Gracia 294 Entlo. 1<br>
                08025, Barcelona, Spain<br>
              </address>
              <!-- <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br> -->
              <!-- <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br> -->
              <abbr title="Email Address"><strong>Email:</strong></abbr> contact@harbur.io
            </div>

          </div>

        </div>

        <div class="col_one_third">

          <div class="widget widget_links clearfix">

            <h4>Useful Links</h4>

            <ul>
              <li><a href="http://docs.harbur.io/">Documentation</a></li>
              <li><a href="https://blog.harbur.io/">Our Blog</a></li>
              <li><a href="http://harbur.uservoice.com/">Feedback</a></li>
              <li><a href="https://angel.co/harbur/jobs">We're Hiring!</a></li>
            </ul>

          </div>

        </div>

        <div class="col_one_third col_last">
          <div class="widget clearfix">
            <h4>Recent Posts</h4>

            <div id="post-list-footer">
              <div class="spost clearfix">
                <div class="entry-c">
                  <div class="entry-title">
                    <h4><a href="https://blog.harbur.io/launch-your-jenkins-docker-container/">Launch your Jenkins Docker Container at DigitalOcean in 4 steps</a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li>March 1st, 2015</li>
                  </ul>
                </div>
              </div>

              <div class="spost clearfix">
                <div class="entry-c">
                  <div class="entry-title">
                    <h4><a href="https://blog.harbur.io/new-feature-user-ssh-key/">New Feature: Login to Ships with SSH</a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li>February 15th, 2015</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="col_one_third col_last">


        <div class="widget subscribe-widget clearfix">
          <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
          <div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Done! Check your email inbox to confirm your subscription"></div>
          <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
            <div class="input-group divcenter">
              <span class="input-group-addon"><i class="icon-email2"></i></span>
              <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Subscribe</button>
              </span>
            </div>
          </form>
          <script type="text/javascript">
            $("#widget-subscribe-form").validate({
              submitHandler: function(form) {
                $(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
                $(form).ajaxSubmit({
                  url: "//harbur.us7.list-manage.com/subscribe/post-json?u=bcd4f171f7963f32bfc690dcc&amp;id=0e09615c1f",
                  dataType: 'jsonp',
                  jsonp: 'c',
                  target: '#widget-subscribe-form-result',
                  success: function() {
                    $(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
                    $('#widget-subscribe-form').find('.form-control').val('');
                    SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
                  }
                });
              }
            });
          </script>
        </div>

        <div class="widget clearfix" style="margin-bottom: -20px;">

          <div class="row">

            <div class="col-md-6 clearfix bottommargin-sm">
              <a href="https://www.facebook.com/harbur" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>
              <a href="https://www.facebook.com/harbur"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
            </div>
            <div class="col-md-6 clearfix">
              <a href="https://blog.harbur.io/rss/" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
                <i class="icon-rss"></i>
                <i class="icon-rss"></i>
              </a>
              <a href="https://blog.harbur.io/rss/"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
            </div>

          </div>

        </div>

      </div>

    </div><!-- .footer-widgets-wrap end -->

  </div>

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        Copyrights &copy; 2015 All Rights Reserved by Harbur Cloud Solutions S.L.<br>
        <!-- <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div> -->
      </div>

      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a href="https://www.facebook.com/harbur" class="social-icon si-small si-borderless si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="https://twitter.com/harburio" class="social-icon si-small si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a href="https://plus.google.com/+HarburIoCloud" class="social-icon si-small si-borderless si-gplus">
            <i class="icon-gplus"></i>
            <i class="icon-gplus"></i>
          </a>

          <a href="https://github.com/harbur" class="social-icon si-small si-borderless si-github">
            <i class="icon-github"></i>
            <i class="icon-github"></i>
          </a>

          <a href="https://vimeo.com/user42777226" class="social-icon si-small si-borderless si-vimeo">
            <i class="icon-vimeo"></i>
            <i class="icon-vimeo"></i>
          </a>

<!-- 							<a href="#" class="social-icon si-small si-borderless si-linkedin">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a> -->
        </div>

        <!-- <div class="clear"></div> -->

        <!-- <i class="icon-envelope2"></i> contact@harbur.io -->
      </div>

    </div>

  </div><!-- #copyrights end -->

  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- Footer Scripts
  ============================================= -->
  <script type="text/javascript" src="/js/functions.js"></script>

</footer><!-- #footer end -->
