<footer id="footer" class="dark">

    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2016 Harbur Cloud Solutions S.L.<br>
            </div>

            <div class="col_half col_last tright">
                <div class="fright clearfix">
                    <a href="https://www.facebook.com/harbur" class="social-icon si-small si-borderless si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="https://twitter.com/harburio" class="social-icon si-small si-borderless si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="https://github.com/harbur" class="social-icon si-small si-borderless si-github">
                        <i class="icon-github-circled"></i>
                        <i class="icon-github-circled"></i>
                    </a>
                </div>

            </div>

        </div>

    </div>

    <div id="gotoTop" class="icon-angle-up"></div>

</footer>


<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
