<header id="header" class="dark full-header" data-sticky-class="not-dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <div id="logo">
                <a href="/index.html" class="standard-logo" data-logo="/images/logo.png"><img src="/images/logo.png" alt="Harbur Logo"></a>
                <a href="/index.html" class="retina-logo" data-logo="/images/logo@2x.png"><img src="/images/logo@2x.png" alt="Harbur Logo"></a>
            </div>

            <nav id="primary-menu">
                <ul>
                    <li><a href="/#services" data-scrollto="#services"><div>Services</div></a></li>
                    <li><a href="/#clients" data-scrollto="#clients"><div>Clients</div></a></li>
                    <li><a href="/#technologies" data-scrollto="#technologies"><div>Technologies</div></a></li>
                    <li><a href="/#community" data-scrollto="#community"><div>Community</div></a></li>
                    <li><a href="/trainings/"><div>Trainings</div></a></li>
                    <li><a href="/contact/"><div>Contact</div></a></li>
                    <li><a href="https://blog.harbur.io"><div>Blog</div></a></li>
                </ul>
            </nav>

        </div>

    </div>

</header>
