<div class="content-wrap">
  <div class="container clearfix">
    <div class="single-post nobottommargin">
      <!-- Single Post -->
      <div class="entry clearfix">
        <!-- Entry Title -->
        <div class="entry-title">
            <h2>{{.Title}}</h2>
        </div><!-- .entry-title end -->

        <!-- Entry Meta -->
        <ul class="entry-meta clearfix">
        </ul><!-- .entry-meta end -->

        <!-- Entry Content -->
        <div class="entry-content notopmargin">

          {{ .Content }}

          <!-- Tag Cloud -->
          <div class="tagcloud clearfix bottommargin">
              <a href="#">docker</a>
              <a href="#">coreos</a>
              <a href="#">flannel</a>
              <a href="#">etcd</a>
              <a href="#">kubernetes</a>
              <a href="#">netflix-oss</a>
          </div><!-- .tagcloud end -->
        </div><!-- #respond end -->
      </div><!-- #comments end -->
    </div>
  </div>
</div>
