<div id="clients" class="section">

    <div class="container clearfix">

        <div class="heading-block center">
            <h2>Authorized Service Partner</h2>
            <span>Need help to migrate to the cloud?</span>
        </div>

        <div class="col_two_fifth topmargin nobottommargin">
            <img src="images/partners/google-cloud-platform.png">
        </div>

        <div class="col_three_fifth nobottommargin col_last">
            <div class="heading-block">
                <h3>Google Cloud Platform Partner</h3>
                <span>Google Cloud Platform enables developers to build, test and deploy applications on Google's highly scalable and reliable infrastructure. Choose from computing, storage, and application services for your web, mobile, and backend solutions.</span>
            </div>

            <p>We help our clients migrate from monolithic to microservice solutions and enable them to migrate to the Cloud using Kubernetes as the container orchestration platform for automating deployment, operations, and scaling of containerized applications. Google Cloud Platform is the logical cloud environment for Kubernetes.</p>

            <a class="button button-rounded" href="https://blog.harbur.io/harbur-joins-google-cloud-platform-partner-program/" title="Harbur joins Google Cloud Platform Partner Program">Read more &rarr;</a>
        </div>

    </div>

</div>
