<div id="services" class="container clearfix">
    <div class="heading-block center">
        <h2>Our services</h2>
    </div>

    <div class="col_one_third nobottommargin">
        <div class="heading-block fancy-title nobottomborder title-bottom-border">
            <h4>Continuous Delivery <span>Pipeline</span></h4>
        </div>
        <p>We provide a universal delivery pipeline process, independent of your CI/CD tool, cloud or behind-firewall infrastructure, or programming language of your application with the help of docker and our open-sourced build tool <a href="https://github.com/harbur/captain">captain</a></p>
    </div>

    <div class="col_one_third nobottommargin">
        <div class="heading-block fancy-title nobottomborder title-bottom-border">
            <h4>Service <span>Containerization</span></h4>
        </div>
        <p>We help re-design and modernize existing legacy solutions to cluster of containers, or help design from scratch container-based microservices infrastructure. Design with health-checks, reactive healing and elastic scaling in mind.</p>
    </div>

    <div class="col_one_third nobottommargin col_last">
        <div class="heading-block fancy-title nobottomborder title-bottom-border">
            <h4>Docker <span>Workshops</span></h4>
        </div>
        <p>We provide hands-on training on-site to the team focused either on development workflow or infrastructure aspects. The training can be from Docker basics to deployment on Production scale.</p>
    </div>
</div>
