<div id="technologies" class="container clearfix">

    <div class="clear"></div>

    <div class="heading-block center">
        <h2>Technologies</h2>
        <span>We are always learning and improving. Some of the technologies we are experts at: Amazon Web Services, Google Cloud Platform, CoreOS, Docker, Kubernetes and Jenkins</span>
    </div>

    <ul class="clients-grid grid-6 nobottommargin clearfix">
        <li>
            <a href="https://aws.amazon.com/" rel="nofollow" title="Amazon Web Services">
                <img alt="Logo Amazon Web Services" src="images/icons/badges/aws.jpg">
            </a>
        </li>
        <li>
            <a href="https://cloud.google.com/" rel="nofollow" title="Google Cloud Platform">
                <img alt="Logo Google Cloud Platform" src="images/icons/badges/gcp.jpg">
            </a>
        </li>
        <li>
            <a href="https://coreos.com/" rel="nofollow" title="CoreOS">
                <img alt="Logo CoreOS" src="images/icons/badges/coreos.jpg">
            </a>
        </li>
        <li>
            <a href="https://www.docker.com/" rel="nofollow" title="Docker">
                <img alt="Logo Docker" src="images/icons/badges/docker.jpg">
            </a>
        </li>
        <li>
            <a href="http://kubernetes.io/" rel="nofollow" title="Kubernetes">
                <img alt="Logo Kubernetes" src="images/icons/badges/kubernetes.jpg">
            </a>
        </li>
        <li>
            <a href="https://jenkins.io/" rel="nofollow" title="Jenkins">
                <img alt="Logo Jenkins" src="images/icons/badges/jenkins.jpg">
            </a>
        </li>
    </ul>

</div>