<div id="clients" class="section">

    <div class="container clearfix nobottommargin">

        <div class="heading-block center">
            <h2>Case Studies</h2>
            <span>We helped companies across the globe migrate to container solutions.</span>
        </div>

        <!-- ONEBOX -->
        <div class="section notopmargin nobottommargin">
            <div class="col_two_fifth notopmargin nobottommargin nobottompadding">
                <img width="430" height="300" src="/images/clients/onebox/onebox.jpg">
            </div>

            <div class="col_three_fifth nobottommargin col_last">
                <div class="heading-block">
                    <h3>Onebox</h3>
                    <span>We help <a href="http://www.oneboxtm.com" ref="nofollow">Onebox</a> to migrate from a monolith application to a micro-service architecture decreasing the server costs by 30%.</span>
                </div>

                <p>By migrating the solutions to a microservice-oriented platform we greatly simplified configuration and shortened the time it takes to develop deploy and rollback. By porting the solutions to Docker containers we improved the consistency between the development, staging and production environments.</p>

                <a class="button button-rounded" href="https://blog.harbur.io/case-study-onebox-ba5108b94e3f" title="Read Harbur's Case Study about Onebox">Read more &rarr;</a>
            </div>
        </div>
        
        <!-- BPULSE -->
        <div class="section notopmargin nobottommargin nobottompadding">
            <div class="col_two_fifth notopmargin nobottommargin notoppadding">
                <img width="430" height="300" src="/images/clients/bpulse/bpulse.png">
            </div>
            <div class="col_three_fifth nobottommargin col_last">
                <div class="heading-block">
                    <h3>Bpulse</h3>
                    <span>We help <a href="http://www.bpulse.io" ref="nofollow">Bpulse</a> to deliver their solution on-cloud or on-premise environments and provided a highly-available architecture that can scale up and down on demand reducing costs and maximizing efficiency.</span>
                </div>

                <p>By migrating the solution to containers and leveraging Kubernetes we fullfiled the following requirements of bpulse solution:</p>
                <div class="col_half nobottommargin">
                    <ul class="iconlist iconlist-color">
                        <li><i class="icon-caret-right"></i> Hybrid environments</li>
                        <li><i class="icon-caret-right"></i> No Cloud Vendor lock-in</li>
                        <li><i class="icon-caret-right"></i> High Availability</li>
                    </ul>
                </div>
                <div class="col_half nobottommargin col_last">
                    <ul class="iconlist iconlist-color">
                        <li><i class="icon-caret-right"></i> Self Healing</li>
                        <li><i class="icon-caret-right"></i> Scaling</li>
                        <li>&nbsp;</li>
                    </ul>
                </div>
                <a class="button button-rounded" href="https://blog.harbur.io/case-study-bpulse-9ac1b8aabce3" title="Read Harbur's Case Study about Bpulse">Read more &rarr;</a>
            </div>
        </div>
    </div>

</div>
