<div class="container clearfix">
  <h4>TERMS OF USE, LEGAL RESTRICTIONS, PRIVACY POLICY AND COOKIES POLICY</h4>
  <p>
    For your kind attention: please read these terms carefully before using www.harbur.io.
  </p>
  <p>
    Using this www.harbur.io indicates that you accept these terms (“terms”). If you do not accept these terms, do not
    use www.harbur.io
  </p>

  <h4>1. Use of www.harbur.io</h4>
  <p>
    Harbur Cloud Solutions authorizes you to view and download the materials at www.harbur.io only for your personal,
    non-commercial use, provided that you retain all copyright and other proprietary notices contained in the original
    materials on any copies of the materials. You may not modify the materials at this www.harbur.io in any way or
    reproduce or publicly display, perform, or distribute or otherwise use them for any public or commercial purpose.
    Any use of these materials on any other web or networked computer environment for any purpose is prohibited. The
    materials at this www.harbur.io are copyrighted and any unauthorized use of any materials at www.harbur.io may
    violate copyright, trademark, and other laws. If you breach any of these Terms, your authorization to use this
    www.harbur.io automatically terminates and you must immediately destroy any downloaded or printed materials.
  </p>

  <h4>2. Disclaimers</h4>
  <p>
    Harbur Cloud Solutions’ obligations with respect to its products and services are governed solely by the
    agreements under which they are provided and nothing on www.harbur.io should be construed to alter such agreements.
    Harbur Cloud Solutions further does not warrant the accuracy and completeness of the materials, software or
    services at this www.harbur.io. Harbur Cloud Solutions may make changes to the materials and services at this
    www.harbur.io, or to the products and prices described in them, at any time without notice. The materials and
    services at www.harbur.io may be out of date, and Harbur Cloud Solutions makes no commitment to update the
    materials and services at www.harbur.io. Information published at www.harbur.io may refer to products, programs or
    services that are not available in your country. Consult your local Harbur Cloud Solutions business contact for
    information regarding the products, programs and services that may be available to you. Applicable law may not
    allow the exclusion of implied warranties, so this exclusion may not apply to you.
  </p>

  <h4>3. Limitation of Liability</h4>
  <p>
    In no event will Harbur Cloud Solutions, its suppliers, or other third parties mentioned at www.harbur.io be
    liable for any damages whatsoever (including, without limitation, those resulting from lost profits, lost data or
    business interruption) arising out of the use, inability to use, or the results of use of www.harbur.io, any links
    to www.harbur.io, or the materials or information or services contained at any or all such, whether based on
    warranty, contract, tort or any other legal theory and whether or not Harbur Cloud Solutions has been advised of
    the possibility of such damages. If your use of the materials, information or services from www.harbur.io results
    in the need for servicing, repair or correction of equipment or data, you assume all costs thereof. Applicable law
    may not allow the exclusion or limitation of incidental or consequential damages, so these limitations or
    exclusions may not apply to you.
  </p>

  <h4>4. Links to Third-Party websites</h4>
  <p>
    Links on www.harbur.io to third-party websites are provided solely as a convenience to you. If you use these
    links, you will leave www.harbur.io. Harbur Cloud Solutions has not reviewed third-party websites and does not
    control and is not responsible for any of these or their content. Thus, Harbur Cloud Solutions does not endorse or
    make any representations about them, or any information, software or other products or materials found there, or
    any results that may be obtained from using them. If you decide to access any of the third-party websites linked to
    www.harbur.io, you do this entirely at your own risk.
  </p>

  <h4>5. Privacy Policy</h4>
  <p>
    Harbur Cloud Solutions complies with good practices for processing personal data pursuant to the then current laws
    on processing of personal data. The use of the www.harbur.io is carried out anonymously and Harbur Cloud Solutions
    does not obtain any information that may be used to reveal the identity of a physical person.
  </p>

  <p>IF WE COLLECT PERSONAL DATA:</p>
  <p>
    Harbur Cloud Solutions complies with good practices for processing personal data pursuant to the then current laws
    on processing of personal data. Harbur Cloud Solutions reserves its right to collect information on IP-addresses of
    users of the www.harbur.io for the use in respect of statistical and demographical purposes.
  </p>

  <p>
    The following trackers are in use and personal data such as your IP address is shared with them.
  </p>

  <ul>
    <li>
      What information about visitors do we collect. (i.e. first name or both names, email address, physical address
      other contact details and any other information relevant to the interaction you have with visitors to your site).
    </li>
  </ul>
  <p>
    We do this if a customer write to us on our contact page.
  </p>

  <ul>
    <li>How do we obtain this information. Google analytics or WordPress</li>
    <li>The reason for requesting personal information. - statistical info –</li>
    <li>How do we store and protect information we have collected– relay to any sub contractors site for terms of use –
      google/Wordpress – inside EEA/analytical software and other third party tools</li>
    <li>How do we use and choose to update visitors when our privacy policy gets updated.</li>
    <li>analytical software and other third party tools.</li>
  </ul>
  <p>
    Consent clause:
  </p>

  <p>
    We will log your consent concerning data collection and storage. We will inform you when and how you have given
    your consent on request.
  </p>

  <p>
    Use of personal data:
  </p>

  <p>
    We will process your personal data in order to promote our products and services. We will use your personal data to
    develop the site to include more material that you like, and introduce new features. We process your personal data
    only for specific and limited purposes. We ask only for data that is adequate, relevant and not excessive for those
    purposes.
  </p>

  <h4>6. Cookies Policy</h4>

  <p>
    Harbur Cloud Solutions uses both session ID and persistent cookies to track your viewing of our www.harbur.io. A
    session cookie expires as soon as you leave the www.harbur.io, while a persistent cookie stays on your computer to
    help us measure the number of returning visitors to our website www.harbur.io. Information supplied by cookies can
    help us to analyze the profile of our visitors and help us to provide you with a better user experience.
  </p>

  <p>
    By following directions written in your browser’s help function you can easily remove persistent cookies from your
    computer or even prevent your computer from accepting cookies from the www.harbur.io. Blocking or erasing cookies
    from your computer will not affect your ability to visit or view the www.harbur.io, but some functions such as
    surveys and tools might operate with reduced functionality or not at all.
  </p>

  <p>
    We use cookies on www.harbur.io for a number of purposes. They help us to provide you with a good experience when
    you browse our website, and also allow us to improve our site. By continuing to browse the site, you are agreeing
    to our use of cookies.
  </p>

  <p>
    A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if
    you agree. Cookies contain information that is transferred to your computer’s hard drive.
  </p>

  <p>
    We use the following cookies:
  </p>

  <ul>
    <li><b>Strictly necessary cookies:</b> These are cookies that are required for the operation of our website. They
      include,
      for
      example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of the
      e-billing services.</li>
    <li><b>Analytical/performance cookies:</b> They allow us to recognise and count the number of visitors and
      to see how visitors move around our website when they are using it. This helps us to improve the way our website
      works, for example, by ensuring that users find what they are looking for easily.</li>
    <li><b>Functionality cookies:</b> These are used to recognise you when you return to our website. This enables us
      to
      personalise our content for you, greet you by name and remember your preferences (for example, your choice of
      language or region).</li>
    <li><b>Targeting cookies:</b> These cookies record your visit to our website, the pages you have visited
      and the links you have followed. We will use this information to make our website and the advertising displayed
      on it more relevant to your interests. We may also share this information with third parties for this purpose.</li>
  </ul>
  <p>
    You can find more information about the individual cookies we use and the purposes for which we use them below.
  </p>

  <p>
    First-party Harbur Cloud Solutions cookies
  </p>

  <p>
    This website will set some cookies that are essential for the website to operate correctly. These cookies, none of
    which capture personally identifiable information, are as follows:
  </p>

  <ul>
    <li> Visitor ID – this cookie is a numeric value that identifies unique visitors and provides coherence and
      consistency to a site visit;</li>
    <li>Page Number – this cookie identifies the page you are on;</li>
    <li>Session ID – this cookie identifies your website session;</li>
    <li>Test – this cookie checks whether or not your browser supports cookies;</li>
    <li>Order – this cookie ensures that your shopping basket works correctly.</li>
  </ul>

  <p>
    Third-party cookies
  </p>

  <p>
    Our websites will set several types of third-party cookie, and we do not control the operation of any of them. The
    third-party cookies which may be set include:
  </p>

  <ul>
    <li>Google Analytics – we use Google Analytics to collect data about website usage. This data does not include
      personally</li>
    <li>identifiable information. You can view the Google Privacy Policy here: www.google.com/policies/privacy/.</li>
    <li>HubSpot - HubSpot tracks visitors using browser cookies. Every time a visitor lands on your website, HubSpot
      will check for the presence of an existing tracking cookie. If one does not exist, HubSpot spins up a unique
      cookie for that visitor and will log every page that person visits moving forward.</li>
    <li>You can block cookies by activating the setting on your browser that allows you to refuse the setting of all or
      some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you
      may not be able to access all or parts of our site.</li>
  </ul>

  <h4>7. HubSpot</h4>

  <p>
    There are a few things to be aware of in regards to how HubSpot handles tracking cookies:
  </p>

  <ul>
    <li>
      Visitors will be tracked anonymously even before they become contacts. If and when a visitor fills out a form,
      HubSpot will associate their previous page views based on the tracking cookie.
    </li>
    <li>
      If a visitor deletes his or her cookies, he or she will be considered a new visitor and will be assigned a new
      cookie. However, HubSpot will automatically deduplicate form submissions coming from the same email address, even
      if different browser cookies were associated with the submissions.
    </li>
    <li>
      Since cookies are unique to a browser, if two people share a single computer, their submissions will be
      associated with the same contact record. This deduplication by cookie ensures that if a contact submits multiple forms on your website using different email addresses, all submissions will be associated with a single record in HubSpot since they are all from the same contact. Keep in mind that if you submit multiple test submissions from one browser with different email addresses, these submissions will overwrite each other on a single contact record in HubSpot due to the common tracking cookie. The best way to test submissions, if you don't want them to be associated with the same contact, is to test using the private browsing mode of your web browser.
    </li>
  </ul>

  <p>
    HubSpot will also attribute visits to a contact if the contact clicks a link in a tracked marketing email which
    directs to a page with the HubSpot tracking code installed. Lastly, the Tracking Code API can also be used to track
    visitors in HubSpot.
  </p>

  <h4>8. Kubernetic.com</h4>

  <p>
    www.kubernetic.com is a website that provides installation to Kubernetic, a Kubernetes Desktop Client.
  </p>

  <p>
    On the website you can download the application and install it locally. You may be prompted to subscribe to the
    Harbur Cloud Solutions Newsletter. Your decision to disclose your personal data is entirely voluntary, and by doing
    so, you are providing us with specific consent to use your personal data only for the purposes for which you have
    disclosed it to us.
  </p>

  <p>
    Harbur Cloud Solutions may access and use your Personal Data only for the purposes for which you have submitted it
    to us to (a) provide information to you, (b) make contact with you, (c) provide services to you. We will not use
    your personal information for any other purposes, for example the communication of marketing material, unless we
    have your specific consent to do so.
  </p>

  <h4>9. General</h4>

  <p>
    Harbur Cloud Solutions administers www.harbur.io from its offices in Barcelona, Spain. Harbur Cloud Solutions makes
    no representation that materials or services at www.harbur.io are appropriate or available for use outside Spain,
    and access to them from territories where their contents are illegal is prohibited.
  </p>

  <p>
    Harbur Cloud Solutions may revise these Terms at any time by updating this posting. You should visit this page from
    time to time to review the then-current Terms because they are binding on you.
  </p>

  <p>
    If you have any questions or comments in relation to Harbur Cloud Solutions processing of personal data, please
    contact:
  </p>

  <pre>
Harbur Cloud Solutions S.L.U.
Calle Escorial 12, 4 1
08024
Barcelona, Spain
E-mail: contact@harbur.io
  </pre>
</div>