<div class="section nobottommargin">
	<div class="input-group divcenter">
		<h4>Subscribe to Our Newsletter</h4>
	</div>
	<div class="input-group divcenter"><p>and get the latest curated news about docker ecosystem</p></div>

<form id="subscription-form" action="//harbur.us7.list-manage.com/subscribe/post?u=bcd4f171f7963f32bfc690dcc&amp;id=0e09615c1f" method="post" role="form">
	<div id="subscription-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Done! Check your email inbox to confirm your subscription."></div>
	<div class="input-group input-group-lg divcenter" style="max-width:600px;">
		<span class="input-group-addon"><i class="icon-email2"></i></span>
  	<input type="email" placeholder="Enter your Email" name="EMAIL" id="mce-EMAIL" class="form-control required email input-lg" aria-required="true">
		<span class="input-group-btn">
			<button id="mailchimp-submit" class="btn btn-success" type="submit">Subscribe</button>
		</span>
	</div>
</form>
<script type="text/javascript">
	$("#subscription-form").validate({
		submitHandler: function(form) {
			$(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
			$(form).ajaxSubmit({
				url: "//harbur.us7.list-manage.com/subscribe/post-json?u=bcd4f171f7963f32bfc690dcc&amp;id=0e09615c1f",
				dataType: 'jsonp',
				jsonp: 'c',
				success: function() {
					$(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
					$(form).find('.form-control').val('');
					SEMICOLON.widget.notifications($('#subscription-form-result'));
				}
			});
		}
	});
</script>
</div>
