<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{ partial "head.html" . }}
<body class="stretched">
	<div id="wrapper" class="clearfix">
		{{ partial "header.html" . }}
		{{ partial "intro.html" . }}
		<section id="content">
            <div class="content-wrap">
                {{ partial "services.html" . }}
                {{ partial "hireus.html" . }}
                {{ partial "clients.html" . }}
                {{ partial "hireus.html" . }}
                {{ partial "technologies.html" . }}
                {{ partial "partners.html" . }}
                {{ partial "community.html" . }}
                {{ partial "blog.html" . }}
            </div>
		</section>
		{{ partial "footer.html" . }}
	</div>
</body>
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/functions.js"></script>
</html>
