
<div class="container clearfix">
  <div class="col_half">
    <h2>Learn new exciting technologies!</h2>
    <p>It's time to face it. Containers are here to stay, and we need to adapt to the new way of development workflow! Below is a series of trainings that we prepared so that you're not alone on the journey of technology tranformation.</p>
  </div>
  <div class="col_half nobottommargin col_last">
    <h2>Level Up yourself</h2>
    <p>Either you're Developer, Operator or claim the DevOps title, these trainings will help you expand your knowledge on both sides and understand better real-life problems and solutions that come together with a distributed, microservice-oriented infrastructure.</p>
  </div>
</div>
<div class="container clearfix">
    <div id="faqs-list" class="fancy-title title-bottom-border">
        <h1>Available Trainings</h1>
    </div>

    <div class="feature-box fbox-plain fbox-small fbox-dark">
      <a href="/trainings-docker">
        <div class="fbox-icon"><i class="icon-line-layers"></i></div>
        <h3>2-Day Training Mastering Docker</h3>
      </a>
      <p>Learn how to design Docker containers that you can feel proud of. Design structured microservices easy to scale up, evolve, and maintain. Learn to develop faster using Docker and avoid the "Works for me" problem when deploying to production by design.</p>
    </div>
    <a href="/trainings-docker" style="margin-left: 0px" class="button button-3d button-mini button-rounded button-reveal button-blue tright"><i class="icon-angle-right"></i><span>Details</span></a>

    <div class="feature-box fbox-plain fbox-small fbox-dark">
      <a href="/trainings-kubernetes">
        <div class="fbox-icon"><i class="icon-line-layers"></i></div>
        <h3>3-Day Training Mastering Kubernetes</h3>
      </a>
      <p>Learn the basics of Kubernetes, how to deploy a cluster for development, on-premise, or on-cloud. Understand the architecture of Kubernetes itself, and the important concepts sucha s Pod, Deployment or Horizontal Autoscaling. Harness the power of Kubernetes to design a trully powerful distributed and self-healing microservice-oriented infrastructure.</p>
    </div>
    <a href="/trainings-kubernetes" style="margin-left: 0px" class="button button-3d button-mini button-rounded button-reveal button-blue tright"><i class="icon-angle-right"></i><span>Details</span></a>  

    <div class="feature-box fbox-plain fbox-small fbox-dark">
      <a href="/trainings-kubernetes-deep-dive">
        <div class="fbox-icon"><i class="icon-line-layers"></i></div>
        <h3>3-Day Training Kubernetes Deep Dive</h3>
      </a>
      <p>Attend a 3-day course about advanced topics of Kubernetes. You will learn how to design and operate Kubernetes clusters efficiently, how to integrate with crucial components such as Istio or Prometheus, and how to extend Kubernetes using operators and custom-metrics.</p>
    </div>
    <a href="/trainings-kubernetes-deep-dive" style="margin-left: 0px" class="button button-3d button-mini button-rounded button-reveal button-blue tright"><i class="icon-angle-right"></i><span>Details</span></a>  
</div>