<section style="background: #0095ff" id="page-title">
  <div class="container clearfix">
    <h1 style="color: white" >3-Day Training Kubernetes Deep Dive</h1>
  </div>
</section>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

      <!-- Description -->
      <div class="col_full">
        <div class="feature-box  fbox-dark">
            <div class="fbox-icon"><i class="icon-line-layers"></i></div>
            <h3>Description</h2>
          <p>Attend a 3-day course about advanced topics of Kubernetes. You will learn how to design and operate Kubernetes clusters efficiently, how to integrate with crucial components such as Istio or Prometheus, and how to extend Kubernetes using operators and custom-metrics.</p>
        </div>
      </div>

      <!-- Why -->
      <div class="col_full col_last">
        <h2>Why should you attend this training?</h2>

        <p>You already use containers and kubernetes on production but want to take advantage the most of the platform.</p>

        <p>During this course you'll learn how to expose properly your services using Ingress controllers and how to configure them with TLS using let's encrypt.
          You'll learn how to integrate Kubernetes with an alert management such as Prometheus and with Service Mesh such as Istio.
          You'll learn how to organize your helm charts and how they can be combined with a CI/CD process.
          You'll learn how to do proper secret management and how stateful sets are working.
          You'll learn how to extend Kubernetes using operators and how you can write your own.
        </p>

        <p></p>
      </div>

      <!-- Outline -->
      <div class="col_full col_last">
        <h2>Outline</h2>
        
        <ul class="iconlist iconlist-color nobottommargin">
        <li><i class="icon-ok"></i>Introduction.</li>
        <li><i class="icon-ok"></i>Section 1: Exposing services. Ingress controllers.</li>
        <li><i class="icon-ok"></i>Section 2: Alert Manager.</li>
        <li><i class="icon-ok"></i>Section 3: Using Helm with CI/CD, charts organization and dependencies.</li>
        <li><i class="icon-ok"></i>Section 4: Service mesh - Istio.</li>

        <li><i class="icon-ok"></i>Section 5: Autoscaling using custom metrics.</li>
        <li><i class="icon-ok"></i>Section 6: Secret management.</li>
        <li><i class="icon-ok"></i>Section 7: Stateful Sets.</li>
        <li><i class="icon-ok"></i>Section 8: Operators.</li>
      </ul>

      </div>
 
      <!-- Outline -->
      <div class="col_full col_last">
          <h2>Prerequisites &amp; requirements</h2>
          <p>Attendees should have a basic understanding of Kubernetes concepts such as deployments, services, pods and how they work.
            No specific language knowlege is necessary, we'll interact with various languages (<code>Go</code>, <code>Java</code>) but the examples are self-descriptive and there is no need for any preparation.
            During the training, the attendees will perform various exercises (laboratories), they will need to have their laptop during the course.
            WiFi Internet connection is necessary during the training.
          </p>
      </div>

      <a href="/contact" style="margin-left: 0px" class="button button-3d button-mini button-rounded button-reveal button-blue tright"><i class="icon-angle-right"></i><span>Book now</span></a>  

    </div>
  </div>
</section>