<div class="container clearfix">
    <div class="container clearfix">
      <div class="col_full">
        <h2>The Company</h2>
        <p>Harbur Cloud Solutions is a consulting firm based in Barcelona. We help companies design & implement highly scalable and self healing solutions empowered by the best-of-breed Container, Cloud and Automation technologies. We also help in introducing and implementing Agile, DevOps, Microservices and Continuous Delivery practices and provide training to the client's teams for the adoption of the technologies.</p>
      </div>
    </div>
      
    <div class="fancy-title title-bottom-border">
        <h1>Available Vacancies</h1>
    </div>

    <div id="whr_embed_hook"></div>
</div>

<style>
  .whr-items li {list-style-type: none;}
  .whr-items ul {-webkit-padding-start: 40px; list-style-type: none;}
</style>
  